<!-- views/index.ejs -->
<!DOCTYPE html>
  <html>
    <head>
	<script src="//console.re/connector.js" data-channel="mycms" id="consolerescript"></script>
    <title>CMS</title>
	<link rel="Shortcut Icon" type="image/x-icon" href="https://forms.latech.edu/routing/i/favicon.ico">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div style="font-size:25pt; color:#FFFFFF; background: #000066; text-align:center; width:100%; margin:0; padding:8px">Content Management System	</div>
<div style="font-size:5pt; color:#D9D9D9; background: #D9D9D9; text-align:center; width:100%; margin:0">X</div>

<div class="container">

    <div class="jumbotron text-center" style="margin-top: 20px">
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>
		
	<div class="row bg-primary" style="margin: 20px; padding: 20px">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			  <div class="caption text-center">
				<h3>Realtime</h3>
				<p>See the output of your code in realtime.</p>
			  </div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			  <div class="caption text-center">
				<h3>Collaborative</h3>
				<p>Share the project and work in group.</p>
			  </div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			  <div class="caption text-center">
				<h3>Revision Control</h3>
				<p>View and revert back to the previous version.</p>
			  </div>
			</div>
		</div>
	</div>
</div>
</body>
</html>